<template style="height: fit-content">
  <v-container v-if="questline" class="pa-0 main-container">
    <v-img :src="questline.image" class="white--text align-end" height="40vh">
    </v-img>
    <v-card class="mt-n5 rounded-xl" elevation="0">
      <!-- eslint-disable-next-line vue/no-v-html -->
      <v-card-title
        style="color: #252525; padding-top: 25px"
        v-html="questline.title"
      ></v-card-title>
      <!-- eslint-disable-next-line vue/no-v-html -->
      <v-card-text
        style="padding-bottom: unset; color: #858585"
        v-html="questline.description"
      ></v-card-text>
      <v-card-text><h3 style="color: #252525">Quests</h3></v-card-text>
      <v-container style="padding: 0">
        <div class="wrapper">
          <v-col v-for="quest in quests" :key="quest.id" style="width: 90%">
            <v-card
              style="box-shadow: unset; border: 1px solid rgba(0, 0, 0, 0.1)"
              class="item"
              :to="`/quest/${quest.id}`"
            >
              <v-img
                v-if="quest.image != null"
                :src="quest.image"
                class="white--text align-end"
                max-height="20vh"
              >
                <v-card-title v-text="quest.name"></v-card-title>
              </v-img>
              <v-img
                v-else
                :src="require('~/assets/default.jpg')"
                class="white--text align-end"
                max-height="20vh"
              >
                <v-card-title v-text="quest.name"></v-card-title>
              </v-img>
            </v-card>
          </v-col>
        </div>
      </v-container>
      <div class="hider-container" style="border-radius: unset"></div>
    </v-card>
    <v-container style="height: 56px"></v-container>
  </v-container>
</template>
<style>
.wrapper {
  display: flex;
  overflow-x: auto;
  min-width: 100px;
  line-height: 100px;
  scroll-snap-type: x mandatory;
}

.wrapper .item {
  width: 100%;
  margin-right: 15px;
  min-height: fit-content;
  scroll-snap-align: center;
}

@media screen and (min-width: 500px) {
  .main-container {
    margin: 0;
  }
}

@media screen and (max-width: 960px) {
  .hider-container {
    margin-top: -20px;
    height: 20px;
    position: absolute;
    width: 100%;
  }

  .wrapper::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
  }
}
</style>
<script>
import _ from 'lodash'
export default {
  computed: {
    id() {
      return parseInt(this.$route.params.id)
    },
    questline() {
      const questlines = this.$store.state.quest.questlines
      return _.find(questlines, { id: this.id })
    },
    quests() {
      const quests = this.$store.state.quest.quests
      return _.filter(quests, { questline: this.id })
    },
  },
  validate({ params }) {
    return /^\d+$/.test(params.id)
  },
  layout: 'no-back',
}
</script>
