<template>
  <v-btn elevation="0" fab absolute top left small class="mt-10" @click="back">
    <v-icon>mdi-arrow-left</v-icon>
  </v-btn>
</template>
<script>
export default {
  methods: {
    back() {
      this.$router.go(-1)
    },
  },
}
</script>
