<style>
.bottom-nav-container {
  margin: 10px;
  min-width: fit-content;
  border-radius: 15px;
}
</style>
<template>
  <v-bottom-navigation
    style="
      width: calc(100% - 20px);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
      height: 56px;
    "
    class="bottom-nav-container"
    fixed
    bottom
  >
    <v-btn style="height: 100%" to="/questlines">
      <span>Questlines</span>
      <v-icon>mdi-text-box-outline</v-icon>
    </v-btn>
    <v-btn style="height: 100%" to="/QrScanner">
      <span>Scanner</span>
      <v-icon>mdi-qrcode-scan</v-icon>
    </v-btn>
    <v-btn v-if="this.$auth.user" style="height: 100%" to="/profile">
      <span>Account</span>
      <v-icon>mdi-account</v-icon>
    </v-btn>
    <v-btn v-else style="height: 100%" to="/settings">
      <span>Settings</span>
      <v-icon>mdi-cog</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>
