<template>
  <v-container style="margin-top: 80px">
    <h3>Team</h3>
    <div style="width: 100%; text-align: center; margin-top: 40px">
      <div>
        <v-dialog v-model="isCreateTeam" persistent max-width="600px">
          <v-card>
            <v-btn
              elevation="0"
              style="background: transparent !important; margin: 5px"
              @click="isCreateTeam = false"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-card-title>Enter your Team name</v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="teamName"
                      label="Team name"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
                <div style="color: red">{{ errorCreateTeam }}</div>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                class="btn-invite"
                style="width: 20%; padding: unset"
                elevation="0"
                @click="createTeam"
                >OK</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
        <div style="color: green">{{ validationCreateTeam }}</div>
        <v-btn
          class="btn-invite"
          style="width: 80%; margin: 5px auto"
          elevation="0"
          @click="changeCreateTeamTest()"
        >
          Create team
        </v-btn>
        <v-dialog v-model="isJoinTeam" persistent max-width="600px">
          <v-card>
            <v-btn
              elevation="0"
              style="background: transparent !important; margin: 5px"
              @click="isJoinTeam = false"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-card-title>Enter the team invite code</v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="invite_code"
                      label="Invite code"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
                <div style="color: red">{{ errorJoinTeam }}</div>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                class="btn-invite"
                style="width: 20%; padding: unset; margin-right: 8px"
                elevation="0"
                to="/QrScanner"
              >
                <v-icon> mdi-qrcode-scan </v-icon>
              </v-btn>
              <v-btn
                class="btn-invite"
                style="width: 20%; padding: unset"
                elevation="0"
                @click="joinTeam"
              >
                OK
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <div style="color: green">{{ validationJoinTeam }}</div>
        <v-btn
          class="btn-invite"
          style="width: 80%"
          elevation="0"
          @click="changeJoinTeamTest()"
        >
          Join a team
        </v-btn>
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      invite_code: '',
      errorJoinTeam: '',
      errorCreateTeam: '',
      validationCreateTeam: '',
      validationJoinTeam: '',
      teamName: '',
      isJoinTeam: false,
      isCreateTeam: false,
    }
  },
  methods: {
    changeJoinTeamTest() {
      this.isJoinTeam = true
    },
    changeCreateTeamTest() {
      this.isCreateTeam = true
    },
    createTeam() {
      this.isCreateTeam = false
      this.errorCreateTeam = ''
      this.$axios
        .post('/api/team/', { name: this.teamName })
        .then((res) => {
          console.log(res)
          this.validationCreateTeam =
            'Your team: ' +
            this.teamName +
            ' has been created.\n' +
            'Your invite code: ' +
            res.data.invite_code
          console.log(this.$auth.user)
        })
        .catch((reason) => {
          console.log(reason.response)
          this.errorCreateTeam = reason.response.data.detail
        })
    },
    joinTeam() {
      this.isJoinTeam = false
      this.errorJoinTeam = ''
      this.$axios
        .get('/api/team/join/', {
          params: {
            code: this.invite_code,
          },
        })
        .then((res) => {
          console.log(res)
          this.validationJoinTeam = res.data
        })
        .catch((reason) => {
          console.log(reason.response)
          this.errorJoinTeam = reason.response.data
        })
    },
  },
}
</script>
