<template>
  <div v-if="error">
    <h1>Can't join</h1>
    <p>Unable to join team with the invite code</p>
    <p>Common issues typically are the following</p>
    <ul>
      <li>Invalid code</li>
      <li>Bad QR code</li>
      <li>Our backend server is angry</li>
    </ul>
    <p>Try joining by entering the invite code manually</p>
    <v-btn to="/profile">Go back</v-btn>
  </div>
</template>
<script>
export default {
  data() {
    return {
      error: false,
    }
  },
  computed: {
    code() {
      return this.$route.query.code
    },
  },
  mounted() {
    this.$axios
      .get(`/api/team/join`, {
        params: {
          code: this.code,
        },
      })
      .then((_) => {
        this.$router.push('/profile')
      })
      .catch((_) => {
        this.error = true
      })
  },
}
</script>
