<template>
  <div>
    <v-container v-if="quest && !invalidQuest" class="pa-0">
      <v-btn
        elevation="0"
        fab
        absolute
        top
        left
        small
        class="mt-10"
        :to="`/questline/${quest.questline}`"
      >
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-img
        :src="quest.image"
        class="white--text align-end"
        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
        height="40vh"
      >
      </v-img>
      <v-card class="mt-n5 rounded-xl" elevation="0">
        <!-- eslint-disable-next-line vue/no-v-html -->
        <v-card-title
          style="color: #252525; padding-top: 25px"
          v-html="quest.name"
        ></v-card-title>
        <!-- eslint-disable-next-line vue/no-v-html -->
        <v-card-text
          style="padding-bottom: unset; color: #858585"
          v-html="quest.description"
        ></v-card-text>
        <v-container style="height: 56px"></v-container>
        <v-btn
          v-if="quest.show_next"
          :to="`/quest/${quest.next_quest_id}/?type=${quest.next_quest_type}`"
          elevation="0"
          class="btn"
          style="margin: 0 10px; position: absolute; right: 0; width: 20%"
          >Next</v-btn
        >
      </v-card>
    </v-container>
    <v-dialog v-model="requestPassword" persistent max-width="600px">
      <v-card>
        <v-card-title>Password required</v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="password"
                  label="Password"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" @click="loadQuest">OK</v-btn>
          <v-btn to="/QrScanner">Scanner</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="invalidQuest" persistent max-width="600px">
      <v-card>
        <v-card-title>Invalid quest</v-card-title>
        <v-card-text>
          <p>
            The following quest is invalid, it may be caused by one of the
            following:
          </p>
          <ul>
            <li>This quest is for later</li>
            <li>
              This quest is for another questline that you don't currently have
            </li>
          </ul>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" to="/Questlines">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="notFound" persistent max-width="600px">
      <v-card>
        <v-card-title>Quest not found</v-card-title>
        <v-card-text>
          <p>We tried and we aren't able to find it. Sorry.</p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" to="/Questlines">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="invalidPosition" persistent max-width="600px">
      <v-card>
        <v-card-title>Bad position</v-card-title>
        <v-card-text>
          <p>You are not at the good position.</p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" to="/Questlines">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  data() {
    return {
      quest: undefined,
      invalidQuest: false,
      notFound: false,
      requestPassword: false,
      invalidPosition: false,
      password: this.$route.query.password,
      lat: '',
      lon: '',
    }
  },
  computed: {
    questParams() {
      const params = new URLSearchParams()
      if (this.password) {
        params.append('password', this.password)
      }
      return params
    },
    id() {
      return parseInt(this.$route.params.id)
    },
    type() {
      return this.$route.query.type
    },
  },
  watch: {
    quest(value) {
      if (value.order === 0) {
        this.addQuestline(value.questline)
      } else {
        const quests = this.$store.state.quest.quests
        const questlineQuests = _.filter(quests, { questline: value.questline })
        const nextQuest = questlineQuests.length + 1

        if (value.order > nextQuest) {
          this.invalidQuest = true
          return
        }
      }

      this.$store.commit('quest/addQuest', value)
      this.$opentour.sync()
    },
  },
  mounted() {
    this.getQuest()
    if (!this.quest) {
      this.loadQuest()
    }
  },
  methods: {
    addQuestline(id) {
      this.$axios
        .get(`/api/questline/${id}/`)
        .then((res) => res.data)
        .then((res) => this.$store.commit('quest/addQuestline', res))
    },
    getQuest() {
      const quests = this.$store.state.quest.quests
      this.quest = _.find(quests, { id: this.id })
    },
    loadQuestGeofencing(position) {
      this.$axios
        .get(`/api/quest/${this.id}`, {
          params: {
            location:
              position.coords.latitude + ',' + position.coords.longitude,
          },
        })
        .then((res) => {
          console.log(res.data)
          this.quest = res.data
        })
        .catch((reason) => {
          if (reason.response) {
            switch (reason.response.status) {
              case 403:
                this.invalidPosition = true
                break
            }
          }
        })
    },
    loadQuest() {
      console.log(this.type)
      // eslint-disable-next-line eqeqeq
      if (this.type == 'GeofencingQuest') {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(this.loadQuestGeofencing)
        }
      } else {
        this.requestPassword = false
        this.$axios
          .get(`/api/quest/${this.id}/`, { params: this.questParams })
          .then((res) => {
            this.quest = res.data
          })
          .catch((reason) => {
            if (reason.response) {
              switch (reason.response.status) {
                case 403:
                  this.requestPassword = true
                  break
                case 404:
                  this.notFound = true
                  break
              }
            }
          })
      }
    },
  },
  validate({ params }) {
    return /^\d+$/.test(params.id)
  },
  layout: 'no-back',
}
</script>
<style>
.btn {
  margin: 20px auto;
  font-family: 'Gilroy', sans-serif;
  background: #181c3f !important;
  color: #fff !important;
  text-transform: unset;
  width: 50%;
  height: 40px !important;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: transform 300ms ease-in-out;
}
</style>
