@font-face {
  font-family: 'Now Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Now Regular'), url('~assets/fonts/Now/Now-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Now Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Now Thin'), url('~assets/fonts/Now/Now-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Now Light';
  font-style: normal;
  font-weight: normal;
  src: local('Now Light'), url('~assets/fonts/Now/Now-Light.woff') format('woff');
}

@font-face {
  font-family: 'Now Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Now Medium'), url('~assets/fonts/Now/Now-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Now Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Now Bold'), url('~assets/fonts/Now/Now-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Now Black';
  font-style: normal;
  font-weight: normal;
  src: local('Now Black'), url('~assets/fonts/Now/Now-Black.woff') format('woff');
}

//#################### POPPINS FONTS ####################\\

@font-face {
  font-family: 'Poppins Black';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Black'), url('~assets/fonts/Poppins/Poppins-Black.ttf');
}

@font-face {
  font-family: 'Poppins Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Black Italic'), url('~assets/fonts/Poppins/Poppins-BlackItalic.ttf');
}

@font-face {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Bold'), url('~assets/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Bold Italic'), url('~assets/fonts/Poppins/Poppins-BoldItalic.ttf');
}

@font-face {
  font-family: 'Poppins ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins ExtraBold'), url('~assets/fonts/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins ExtraBold Italic'), url('~assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: 'Poppins ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins ExtraLight'), url('~assets/fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
  font-family: 'Poppins ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins ExtraLight Italic'), url('~assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'Poppins Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Italic'), url('~assets/fonts/Poppins/Poppins-Italic.ttf');
}

@font-face {
  font-family: 'Poppins Light';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Light'), url('~assets/fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Light Italic'), url('~assets/fonts/Poppins/Poppins-LightItalic.ttf');
}

@font-face {
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Medium'), url('~assets/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Medium Italic'), url('~assets/fonts/Poppins/Poppins-MediumItalic.ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Regular'), url('~assets/fonts/Poppins/Poppins-Regular.ttf');
}


@font-face {
  font-family: 'Poppins SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins SemiBold'), url('~assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins SemiBold Italic'), url('~assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'Poppins Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Thin'), url('~assets/fonts/Poppins/Poppins-Thin.ttf');
}

@font-face {
  font-family: 'Poppins Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Thin Italic'), url('~assets/fonts/Poppins/Poppins-ThinItalic.ttf');
}


//#################### GILROY FONTS ####################\\

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  src: local('Gilroy Bold'), url('~assets/fonts/Gilroy/Gilroy-Bold.ttf');
}


