@import '~assets/font.scss';

$body-font-family: 'Poppins Regular';
$heading-font-family: 'Now Bold', sans-serif;

h1, h2, h3, h4, h5, h6, .v-card__title {
  font-family: $heading-font-family;
  text-transform: uppercase;
}

@import '~vuetify/src/styles/styles.sass';
