<template>
  <v-app>
    <v-main>
      <BackButton />
      <bottom-navbar />

      <nuxt />
    </v-main>
  </v-app>
</template>
<style>
body {
  overflow-x: hidden;
  overflow-y: auto;
}
</style>
<script>
import BottomNavbar from '@/components/bottomNavbar'
export default {
  components: { BottomNavbar },
}
</script>
