<template>
  <v-container v-if="broadcast" class="pa-0">
    <v-card class="mt-n5 rounded-xl" elevation="0" :color="broadcast.color">
      <!-- eslint-disable-next-line vue/no-v-html -->
      <v-card-title
        style="color: white; padding-top: 25px"
        v-html="broadcast.short_description"
      ></v-card-title>
      <!-- eslint-disable-next-line vue/no-v-html -->
      <v-container style="height: 56px"></v-container>
    </v-card>
    <v-card-text
      style="padding-bottom: unset; color: #858585"
      v-html="broadcast.full_description"
    ></v-card-text>
  </v-container>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      broadcast: {
        id: ' ',
        short_description: ' ',
        full_description: ' ',
        color: ' ',
      },
    }
  },
  computed: {
    id() {
      return parseInt(this.$route.params.id)
    },
  },
  validate({ params }) {
    return /^\d+$/.test(params.id)
  },
  mounted() {
    axios.get(`/api/broadcast/${this.id}/`).then((res) => {
      this.broadcast = res.data
      console.log(this.broadcast)
    })
  },
  layout: 'no-back',
}
</script>
