<template>
  <v-container class="pa-0">
    <v-img
      src="https://cdn.vuetifyjs.com/images/parallax/material2.jpg"
      absolute
      class="background-image"
    ></v-img>
    <v-footer absolute class="down-side" style="border-radius: 50px">
      <v-card class="full-height no-color-bg" style="box-shadow: none">
        <v-card-text class="text-align open-tour">
          <h1>{{ preferences.title }}</h1>
        </v-card-text>
        <v-card-text style="padding: 0 16px" class="text-align slogan">
          <p>{{ preferences.motd }}</p>
        </v-card-text>
        <v-card-text class="text-align">
          <v-btn
            style="height: 100px; width: 100px"
            rounded
            @click="changeLogState"
          >
            <v-icon>mdi-arrow-right</v-icon>
          </v-btn>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-container>
</template>

<script>
export default {
  layout: 'empty',
  data() {
    return {
      preferences: {
        title: 'OpenTour',
        motd: 'Open source quest system',
      },
    }
  },
  computed: {
    LogState() {
      return this.$store.state.quest.isLoggedIn
    },
  },
  mounted() {
    if (this.LogState) {
      this.$router.push('questlines')
    }
    this.$axios.get(`/api/preferences/`).then((res) => {
      this.preferences = res.data
    })
  },
  methods: {
    changeLogState() {
      this.$store.commit('quest/changeIsLoggedIn', true)
      this.$router.push('login')
    },
  },
}
</script>
<style>
.background-image {
  height: 100vh;
  width: 100%;
  object-fit: contain;
}

.down-side {
  height: 50vh;
  max-width: calc(100% - 20px);
  margin: 10px auto;
}

.full-height {
  height: 100%;
  width: 100%;
}

.no-color-bg {
  background-color: transparent !important;
  color: rgba(0, 0, 0, 1);
  box-shadow: none;
}

.text-align {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.open-tour {
  font-size: 5vw;
  margin-top: 60px;
  margin-bottom: 0.875rem;
}

.slogan {
  font-size: 4vw;
  margin-bottom: 0;
  line-height: 150%;
}

@media screen and (min-width: 600px) {
  .open-tour {
    font-size: 32px;
  }

  .slogan {
    font-size: 15px;
  }
}
</style>
