<template>
  <div @onload="myFunction()">
    <br /><br /><br /><br />
    <p>Lat = {{ lat }}</p>
    <br />
    <p>Lon ={{ lon }}</p>
    <p>{{ error }}</p>
  </div>
</template>
<script>
export default {
  data() {
    return {
      error: '',
      infoPos: [],
      lat: '',
      lon: '',
    }
  },
  beforeMount() {
    this.myFunction()
  },
  methods: {
    myFunction() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this.showPosition)
      } else {
        this.error = 'Geolocation is not supported.'
      }
    },
    showPosition(position) {
      this.lat = position.coords.latitude
      this.lon = position.coords.longitude
    },
  },
}
</script>
