<template>
  <div>
    <div class="main-container">
      <v-container class="logo">
        <v-img :src="require('~/assets/Logo.svg')"></v-img>
      </v-container>
      <h1 class="page-title">Sign In</h1>
      <div v-if="errorText" class="connexion-main-info">
        <v-img
          class="explantion-mark-icon"
          :src="require('~/assets/explantion-mark-icon.svg')"
        ></v-img>
        <div class="main-info-detail">
          {{ errorText }}
        </div>
      </div>
      <div v-else-if="infoText" class="connexion-main-info">
        <div class="main-info-detail" style="text-align: center">
          {{ infoText }}
        </div>
      </div>
      <form id="opt-form" action="">
        <div class="opt-form-item">
          <label class="opt-form-item-label" for="username-input">
            Username
          </label>
          <div class="form-item-input-container">
            <input
              v-if="!errorUsername"
              id="username-input"
              v-model="username"
              name="username"
              type="text"
              class="form-item-input"
              autofocus
            />
            <input
              v-else
              v-model="username"
              name="username"
              type="text"
              class="form-item-input--incorrect"
              autofocus
            />
          </div>
          <div class="opt-form-item-info">
            {{ errorUsername }}
          </div>
        </div>
        <div class="opt-form-item">
          <label class="opt-form-item-label" for="password-input">
            Password
          </label>
          <div class="form-item-input-container">
            <input
              v-if="!errorPassword"
              id="password-input"
              v-model="password"
              name="password"
              type="password"
              class="form-item-input password-input"
              autocomplete="password"
            />
            <input
              v-else
              v-model="password"
              name="password"
              type="password"
              class="form-item-input--incorrect password-input"
              autocomplete="password"
            />
            <v-btn
              id="password-input-toggle"
              type="button"
              elevation="0"
              :ripple="false"
              @click="changePasswordInputType"
            >
              Show
            </v-btn>
          </div>
          <div class="opt-form-item-info">
            {{ errorPassword }}
          </div>
        </div>
      </form>
      <div class="under-container">
        <v-btn
          class="opt-form-submit-btn"
          :ripple="false"
          elevation="0"
          @click="connexion"
        >
          Sign In
        </v-btn>
        <span class="operation-separator">OR</span>
        <v-btn
          class="opt-other-solution-btn"
          :ripple="false"
          elevation="0"
          to="/register"
        >
          Create an account
        </v-btn>
        <div style="font-size: 14px; text-align: center">
          <span style="color: #a9a9a9; font-size: 14px">
            Don't want to create an account ?
          </span>
          <router-link
            to="/questlines"
            style="text-decoration: unset; color: #454545"
          >
            Continue as a guest
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'empty',
  data() {
    return {
      username: '',
      errorUsername: '',
      errorPassword: '',
      password: '',
      errorText: '',
      infoText: '',
      error: false,
    }
  },
  mounted() {
    if (this.$auth.loggedIn) {
      this.$router.go(-1)
    }
  },
  methods: {
    connexion() {
      this.errorText = ''
      this.errorPassword = ''
      this.errorUsername = ''
      this.$auth
        .loginWith('local', {
          data: {
            username: this.username,
            password: this.password,
          },
        })
        .then(() => {
          this.infoText = `Connexion successful`
          this.$opentour.sync()
        })
        .catch((reason) => {
          this.error = true
          console.log(reason.response)
          if (reason.response) {
            switch (reason.response.status) {
              case 400:
                if (reason.response.data.username) {
                  this.errorUsername = reason.response.data.username.join()
                }
                if (reason.response.data.password) {
                  this.errorPassword = reason.response.data.password.join()
                }
                break
              case 401:
                this.errorText = reason.response.data.detail
                break
            }
          }
        })
    },
    changePasswordInputType() {
      const input = document.querySelector('.password-input')
      const button = document.querySelector('#password-input-toggle')
      if (input.type === 'password') {
        button.textContent = 'Hide'
        input.type = 'text'
      } else {
        button.textContent = 'Show'
        input.type = 'password'
      }
    },
  },
}
</script>
<style scoped>
*::selection {
  background: #181c3f !important;
  color: #fff;
}

.main-container {
  margin: 70px auto 0 auto;
  width: 100%;
  padding: 0 40px;
  font-family: 'Gilroy', sans-serif;
  max-width: 516px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 254px;
  height: 95px;
  margin-bottom: 40px;
}

.connexion-main-info {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 15px 16px 16px;
  display: flex;
  margin: 24px 0;
  font-size: 13px;
}

.main-info-detail {
  padding: 3px 0 0 10px;
  line-height: 20px;
}

.explantion-mark-icon {
  width: 23px;
  height: 23px;
}

.page-title {
  text-transform: unset;
  margin-bottom: 35px;
  font-size: 30px;
}

.opt-form-item {
  display: inline-block;
  margin-bottom: 24px;
  inline-size: 100%;
  position: relative;
}

.opt-form-item-label {
  display: block;
  letter-spacing: 0.8px;
  color: #5e5e62;
  font-size: 14px;
  margin: 0 20px 8px;
}

.form-item-input-container {
  position: relative;
}

.form-item-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  background: #f4f4f4;
  border-radius: 20px;
  font-size: 14px;
  padding: 10px 20px;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  transition: 300ms border ease-in-out;
}

.form-item-input:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-item-input--incorrect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  background: #f4f4f4;
  border-radius: 20px;
  font-size: 14px;
  padding: 10px 20px;
  width: 100%;
  outline: none;
  transition: 300ms border ease-in-out;
  border: 1px solid #ed4e3b;
}

#password-input {
  padding-right: 80px;
}

#password-input-toggle {
  border: 0;
  padding: 0;
  margin: 0;
  block-size: 100%;
  max-block-size: 30px;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  right: 12px;
  top: 5px;
  cursor: pointer;
  text-align: center;
  background: transparent !important;
  border-radius: 20px;
}

#password-input-toggle::before {
  background-color: transparent !important;
}

.opt-form-item-info {
  color: #ed4e3b;
  right: 0;
  font-family: 'Gilroy', sans-serif;
  margin-right: 15px;
  font-size: 12px;
  position: absolute;
}

.opt-form-submit-btn {
  margin: 20px auto;
  font-family: 'Gilroy', sans-serif;
  background: #181c3f !important;
  color: #fff;
  text-transform: unset;
  width: 100%;
  height: 40px !important;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: transform 300ms ease-in-out;
}

.opt-form-submit-btn:active {
  transform: scale(0.95);
}

.opt-form-submit-btn::before {
  background-color: transparent !important;
}

.operation-separator {
  display: flex;
  height: 1px;
  justify-content: center;
  align-items: center;
  color: #454545;
}

.operation-separator::before {
  content: '';
  background: #e5e5e5;
  width: 90%;
  margin: 0 10px;
  height: 1px;
}

.operation-separator::after {
  content: '';
  background: #e5e5e5;
  width: 90%;
  margin: 0 10px;
  height: 1px;
}

.opt-other-solution-btn {
  background: transparent !important;
  margin: 20px auto;
  border: 2px solid #181c3f;
  height: 40px;
  border-radius: 20px;
  width: 100%;
  transition: background 300ms ease-in-out;
  color: #181c3f;
  text-transform: unset;
}

.opt-other-solution-btn::before {
  background-color: transparent !important;
}
</style>
