<template>
  <div>
    <v-container>
      <div style="display: inline-flex; width: 100%">
        <div
          style="
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
          "
        >
          <h2>Account</h2>
          <div style="position: absolute; right: 0">
            <v-btn
              to="/settings"
              elevation="0"
              style="background: transparent !important"
            >
              <v-icon>mdi-cog</v-icon>
            </v-btn>
          </div>
        </div>
      </div>
    </v-container>
    <v-container v-if="this.$auth.user" style="position: relative">
      <div class="profile--head">
        <div
          style="
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
          "
        >
          <v-avatar color="#181c3f" size="70">
            <span class="white--text headline">
              {{ this.$auth.user.username.charAt(0) }}
            </span>
          </v-avatar>
        </div>
        <div style="display: flex; justify-content: center">
          <h3 style="font-family: 'Gilroy', sans-serif; text-transform: unset">
            {{ this.$auth.user.username }}
          </h3>
        </div>
      </div>
      <div
        class="profile--subinfo"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 50px;
        "
      >
        <div class="ps-xp" style="text-align: center; min-width: 110px">
          <div
            class="ps-xp--label"
            style="font-size: 13px; text-transform: uppercase"
          >
            Experience
          </div>
          <div>
            <b>{{ this.$auth.user.experience % 1000 }}</b>
          </div>
        </div>
        <span class="subinfo--separator"></span>
        <div class="ps-lvl" style="text-align: center; min-width: 110px">
          <div
            class="ps--lvl--label"
            style="font-size: 13px; text-transform: uppercase"
          >
            Level
            <v-icon style="color: #586efc; margin-top: -4px"
              >mdi-decagram</v-icon
            >
          </div>
          <div>
            <b>{{ this.$auth.user.level }}</b>
          </div>
        </div>
      </div>
      <h3>Team</h3>
      <div v-if="team">
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <h4 style="text-transform: unset">{{ team.name }}</h4>
        </div>
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <div class="team-xp" style="text-align: center; min-width: 110px">
            <div
              class="team-xp--label"
              style="font-size: 13px; text-transform: uppercase"
            >
              Experience
            </div>
            <div>
              <b>{{ team.experience % 1000 }}</b>
            </div>
          </div>
          <span class="subinfo--separator" style="margin: 20px auto"></span>
          <div class="team-lvl" style="text-align: center; min-width: 110px">
            <div
              class="team-lvl--label"
              style="font-size: 13px; text-transform: uppercase"
            >
              Level
            </div>
            <div>
              <b>{{ team.level }}</b>
            </div>
          </div>
          <span class="subinfo--separator" style="margin: 20px auto"></span>
          <div
            style="
              justify-content: center;
              min-width: 110px;
              align-items: center;
              text-align: center;
            "
          >
            <div style="font-size: 13px; text-transform: uppercase">
              Members
            </div>
            <div>
              <b>{{ team.users.length }}</b>
            </div>
          </div>
        </div>
        <v-dialog v-model="isInviteDialog">
          <v-card>
            <v-container>
              <v-btn
                elevation="0"
                style="background: transparent !important"
                @click="closeDialog"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <div
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <v-img :src="qrCode" style="width: 80vw; height: auto"></v-img>
              </div>
              <span class="operation-separator">OR</span>
              <p
                class="team-code"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                {{ team.invite_code }}
              </p>
              <p
                v-if="infoText !== '' || infoText === null"
                style="
                  padding: 5px 10px;
                  border-radius: 5px;
                  color: #155724;
                  background: #d4edda;
                  border: 1px solid #c3e6cb;
                "
              >
                {{ infoText }}
              </p>
              <v-btn
                class="btn-invite"
                elevation="0"
                style="width: 100%"
                @click="copyTeamCode"
              >
                Copy Team Code
              </v-btn>
            </v-container>
          </v-card>
        </v-dialog>
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
          "
        >
          <v-btn
            class="btn-invite"
            elevation="0"
            @click="isInviteDialog = true"
          >
            Invite new members
          </v-btn>
        </div>
        <div style="width: 100%">
          <div v-for="user in team.users" :key="user.id">
            <div
              style="
                display: flex;
                border: 1px solid #e5e5e5;
                border-radius: 5px;
                padding: 5px 20px;
                margin: 4px 0;
                text-align: center;
                justify-content: center;
              "
            >
              <div style="margin-right: 20px; min-width: 80px">
                <b style="color: #181c3f">
                  {{ user.username }}
                </b>
              </div>
              <div style="margin-right: 20px; min-width: 80px">
                {{ user.level }}
                <v-icon
                  style="color: #586efc; margin-top: -4px; margin-left: -3px"
                >
                  mdi-decagram
                </v-icon>
              </div>
              <div style="margin-right: 20px; min-width: 80px">
                <p style="margin: unset">
                  {{ user.experience % 1000 }}
                  <span
                    style="
                      text-transform: uppercase;
                      font-size: 10px;
                      font-weight: bold;
                      margin-left: -5px;
                    "
                    >xp</span
                  >
                </p>
              </div>
              <div style="margin-right: 20px; min-width: 80px">
                {{ user.finished_quests.length }}
                <v-icon
                  style="color: #4f4f4f; margin-left: -5px; margin-top: -4px"
                >
                  mdi-bookmark-check
                </v-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else style="width: 100%; text-align: center; margin-top: 40px">
        <div>
          <v-dialog v-model="isCreateTeam" persistent max-width="600px">
            <v-card>
              <v-btn
                elevation="0"
                style="background: transparent !important; margin: 5px"
                @click="isCreateTeam = false"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-card-title>Enter your Team name</v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        v-model="teamName"
                        label="Team name"
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <div style="color: red">{{ errorCreateTeam }}</div>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  class="btn-invite"
                  style="width: 20%; padding: unset"
                  elevation="0"
                  @click="createTeam"
                  >OK</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
          <div style="color: green">{{ validationCreateTeam }}</div>
          <v-btn
            class="btn-invite"
            style="width: 80%; margin: 5px auto"
            elevation="0"
            @click="changeCreateTeamTest()"
          >
            Create team
          </v-btn>
          <v-dialog v-model="isJoinTeam" persistent max-width="600px">
            <v-card>
              <v-btn
                elevation="0"
                style="background: transparent !important; margin: 5px"
                @click="isJoinTeam = false"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-card-title>Enter the team invite code</v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        v-model="invite_code"
                        label="Invite code"
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <div style="color: red">{{ errorJoinTeam }}</div>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  class="btn-invite"
                  style="width: 20%; padding: unset; margin-right: 8px"
                  elevation="0"
                  to="/QrScanner"
                >
                  <v-icon> mdi-qrcode-scan </v-icon>
                </v-btn>
                <v-btn
                  class="btn-invite"
                  style="width: 20%; padding: unset"
                  elevation="0"
                  @click="joinTeam"
                >
                  OK
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <div style="color: green">{{ validationJoinTeam }}</div>
          <v-btn
            class="btn-invite"
            style="width: 80%"
            elevation="0"
            @click="changeJoinTeamTest()"
          >
            Join a team
          </v-btn>
        </div>
      </div>
    </v-container>
    <v-container style="height: 80px"></v-container>
  </div>
</template>
<script>
export default {
  layout: 'no-back',
  data() {
    return {
      team: '',
      isInviteDialog: false,
      qrCode: null,
      infoText: '',
      invite_code: '',
      errorJoinTeam: '',
      errorCreateTeam: '',
      validationCreateTeam: '',
      validationJoinTeam: '',
      teamName: '',
      isJoinTeam: false,
      isCreateTeam: false,
    }
  },
  computed: {
    teamId() {
      return this.$auth.user.team
    },
  },
  watch: {
    teamId(val) {
      this.loadTeam(val)
    },
  },
  mounted() {
    this.$auth.fetchUser()
    this.loadTeam(this.teamId)
  },
  methods: {
    loadTeam(id) {
      if (id) {
        this.$axios.get(`/api/team/${id}/`).then((res) => {
          this.team = res.data
        })

        this.$axios
          .get(`/api/team/${id}/qr/`, {
            responseType: 'arraybuffer',
          })
          .then((res) => {
            this.qrCode = 'data:image/png; base64,'
            this.qrCode += Buffer.from(res.data, 'binary').toString('base64')
          })
      }
    },
    copyTeamCode() {
      navigator.clipboard.writeText(this.team.invite_code).then(() => {
        this.infoText = 'Copy successful !'
      })
    },
    closeDialog() {
      this.infoText = ''
      this.isInviteDialog = false
    },
    changeJoinTeamTest() {
      this.isJoinTeam = true
    },
    changeCreateTeamTest() {
      this.isCreateTeam = true
    },
    createTeam() {
      this.errorCreateTeam = ''
      this.$axios
        .post('/api/team/', { name: this.teamName })
        .then((_) => {
          this.isCreateTeam = false
          this.validationCreateTeam =
            'Your team: ' + this.teamName + ' has been created.\n'

          this.$auth.fetchUser()
        })
        .catch((reason) => {
          this.errorCreateTeam = reason.response.data.detail
        })
    },
    joinTeam() {
      this.errorJoinTeam = ''
      this.$axios
        .get('/api/team/join/', {
          params: {
            code: this.invite_code,
          },
        })
        .then((res) => {
          this.isJoinTeam = false
          this.validationJoinTeam = res.data
        })
        .catch((reason) => {
          this.errorJoinTeam = reason.response.data
        })
    },
  },
}
</script>
<style>
.subinfo--separator {
  width: 1px;
  height: 50px;
  background: #e5e5e5;
  margin: 20px;
}

.operation-separator {
  display: flex;
  height: 1px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: 'Gilroy', sans-serif;
  color: #454545;
}

.operation-separator::before {
  content: '';
  background: #454545;
  width: 90%;
  margin: 0 10px;
  height: 1px;
}

.operation-separator::after {
  content: '';
  background: #454545;
  width: 90%;
  margin: 0 10px;
  height: 1px;
}

.btn-invite {
  margin: 20px auto;
  font-family: 'Gilroy', sans-serif;
  background: #181c3f !important;
  color: #fff !important;
  text-transform: unset;
  width: 50%;
  height: 40px !important;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: transform 300ms ease-in-out;
}
</style>
