<template>
  <div>
    <p class="error">{{ error }}</p>
    <v-container>
      <v-dialog v-model="isError" max-width="290">
        <v-card>
          <v-card-title class="headline">Encountered Error</v-card-title>

          <v-card-text>
            {{ error }}
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red darken-1" text to="/questlines">BACK</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>

    <qrcode-stream @decode="onDecode" @init="onInit" />
  </div>
</template>

<script>
import { QrcodeStream } from 'vue-qrcode-reader'

export default {
  components: { QrcodeStream },
  layout: 'no-qr',
  data() {
    return {
      result: '',
      error: '',
      isError: false,
    }
  },

  methods: {
    onDecode(result) {
      this.result = result
      if (result !== null && result !== '') {
        if (this.result.match(window.location.hostname + '/*')) {
          window.location.href = this.result
        } else {
          this.error = 'ERROR : Invalid QR code'
        }
      }
    },

    async onInit(promise) {
      try {
        await promise
      } catch (error) {
        this.isError = true
        if (error.name === 'NotAllowedError') {
          this.error = 'ERROR: you need to grant camera access permisson'
        } else if (error.name === 'NotFoundError') {
          this.error = 'ERROR: no camera on this device'
        } else if (error.name === 'NotSupportedError') {
          this.error = 'ERROR: secure context required (HTTPS, localhost)'
        } else if (error.name === 'NotReadableError') {
          this.error = 'ERROR: is the camera already in use?'
        } else if (error.name === 'OverconstrainedError') {
          this.error = 'ERROR: installed cameras are not suitable'
        } else if (error.name === 'StreamApiNotSupportedError') {
          this.error = 'ERROR: Stream API is not supported in this browser'
        }
      }
    },
  },
}
</script>

<style scoped>
.error {
  font-weight: bold;
  color: darkred;
}
</style>
