<template style="height: fit-content">
  <v-container class="pa-0 main-container">
    <v-container style="padding-bottom: 0; padding-top: 0">
      <v-img
        height="50"
        style="margin: 20px 0 10px"
        width="132"
        :src="require('~/assets/Logo.svg')"
      ></v-img>
    </v-container>
    <v-container style="padding: 0">
      <div v-if="broadcasts.length > 1" class="wrapper">
        <v-col
          v-for="broadcast in broadcasts"
          :key="broadcast.id"
          style="height: fit-content; padding: 0; width: 90%; max-width: unset"
        >
          <div
            v-if="
              currentDate >= new Date(broadcast.start) &&
              currentDate <= new Date(broadcast.end)
            "
            style="width: 100%; margin: unset; padding: 12px; display: flex"
          >
            <v-card
              style="
                box-shadow: unset;
                width: calc(100vw - 20px);
                border: 1px solid rgba(0, 0, 0, 0.1);
                min-height: 76px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: unset;
              "
              :color="broadcast.color"
              :to="`/broadcast/${broadcast.id}`"
              class="item mb-2 braodcast-style"
            >
              <v-card-text
                class="white--text"
                style="
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                {{ broadcast.short_description }}
              </v-card-text>
            </v-card>
          </div>
          <div v-else hidden></div>
        </v-col>
      </div>
      <div v-else>
        <v-col
          v-for="broadcast in broadcasts"
          :key="broadcast.id"
          style="height: fit-content; padding: 0; width: 100%; max-width: unset"
        >
          <div
            v-if="
              currentDate >= new Date(broadcast.start) &&
              currentDate <= new Date(broadcast.end)
            "
            style="width: 100%; margin: unset; padding: 12px; display: flex"
          >
            <v-card
              style="
                box-shadow: unset;
                width: calc(100vw - 20px);
                border: 1px solid rgba(0, 0, 0, 0.1);
                min-height: 76px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: unset;
              "
              :color="broadcast.color"
              :to="`/broadcast/${broadcast.id}`"
              class="item mb-2 braodcast-style"
            >
              <v-card-text
                class="white--text"
                style="
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                {{ broadcast.short_description }}
              </v-card-text>
            </v-card>
          </div>
          <div v-else hidden></div>
        </v-col>
      </div>
      <div class="hider-container" style="border-radius: unset"></div>
    </v-container>
    <v-container
      v-if="questlines.length !== 0"
      style="padding-top: 0; padding-bottom: 0"
    >
      <h2 style="color: #252525">Questlines</h2>
      <v-container fluid class="pl-0 pr-0">
        <v-row dense>
          <v-col v-for="questline in questlines" :key="questline.id" cols="12">
            <v-card
              height="15vh"
              style="box-shadow: unset; border: 1px solid rgba(0, 0, 0, 0.1)"
              :to="`/questline/${questline.id}`"
            >
              <v-img
                v-if="questline.image != null"
                height="15vh"
                :src="questline.image"
                class="white--text"
              >
                <div class="quest-counter-container">
                  <p class="counter-txt">
                    {{ getQuests(questline.id).length }}
                    <span style="margin-right: 5px; margin-left: 5px">|</span>
                    {{ questline.quests.length }}
                  </p>
                </div>
                <v-card-title v-html="questline.title"></v-card-title>
                <v-card-subtitle
                  class="white--text"
                  v-html="questline.description"
                ></v-card-subtitle>
              </v-img>
              <v-img
                v-else
                height="15vh"
                :src="require('~/assets/default.jpg')"
                class="white--text"
              >
                <div class="quest-counter-container">
                  <p class="counter-txt">
                    {{ getQuests(questline.id).length }}
                    <span style="margin-right: 5px; margin-left: 5px">|</span>
                    {{ questline.quests.length }}
                  </p>
                </div>
                <v-card-title v-html="questline.title"></v-card-title>
                <v-card-subtitle
                  class="white--text"
                  v-html="questline.description"
                ></v-card-subtitle>
              </v-img>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <v-container style="height: 56px"></v-container>
    </v-container>
    <v-container v-else style="padding-top: 0; padding-bottom: 0">
      <h2 style="color: #252525">Questlines</h2>
      <v-img
        style="
          width: 70vw;
          opacity: 0.9;
          margin: 25vh auto 0 auto;
          max-width: 320px;
        "
        :src="require('~/assets/you_have_no_questlines_txt.svg')"
      ></v-img>
    </v-container>
  </v-container>
</template>
<style>
.wrapper {
  display: flex;
  overflow-x: auto;
  min-width: 100px;
  line-height: 100px;
  scroll-snap-type: x mandatory;
}

.wrapper .item {
  width: 100%;
  margin-right: 5px;
  min-height: fit-content;
  scroll-snap-align: center;
}

@media screen and (min-width: 500px) {
  .main-container {
    margin: 0;
  }
}

@media screen and (max-width: 960px) {
  .hider-container {
    margin-top: -20px;
    height: 20px;
    position: absolute;
    width: 100%;
  }

  .wrapper::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
  }
}

.quest-counter-container {
  position: absolute;
  right: 0;
  width: fit-content;
  min-width: 50px;
  height: 25px;
  margin: 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.counter-txt {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
<script>
import _ from 'lodash'

export default {
  layout: 'no-back',
  data() {
    return {
      broadcasts: [],
      currentDate: new Date(),
    }
  },
  computed: {
    questlines() {
      return this.$store.state.quest.questlines
    },
  },
  mounted() {
    if (this.LogState) {
      this.$router.push('questlines')
    }
    this.$axios.get(`/api/broadcast/`).then((res) => {
      this.broadcasts = res.data
    })
    this.$opentour.sync()
  },
  methods: {
    getQuests(id) {
      const quests = this.$store.state.quest.quests
      return _.filter(quests, { questline: id })
    },
  },
}
</script>
