<template>
  <div>
    <div>
      <div class="main-container">
        <v-container class="logo">
          <v-img :src="require('~/assets/Logo.svg')"></v-img>
        </v-container>
        <h1 class="page-title">Create an account</h1>
        <form id="opt-form" action="">
          <div class="opt-form-item">
            <label class="opt-form-item-label" for="username-input">
              Username*
            </label>
            <div class="form-item-input-container">
              <input
                v-if="!errors.username"
                id="username-input"
                v-model="registration.username"
                name="username"
                type="text"
                class="form-item-input"
                autofocus
              />
              <input
                v-else
                v-model="registration.username"
                name="username"
                type="text"
                class="form-item-input--incorrect"
                autofocus
              />
            </div>
            <div v-if="errors.username != undefined" class="opt-form-item-info">
              {{ errors.username[0] }}
            </div>
          </div>
          <div class="opt-form-item">
            <label class="opt-form-item-label" for="password-input">
              Password*
            </label>
            <div class="form-item-input-container">
              <input
                v-if="!errors.password"
                id="password-input"
                v-model="registration.password"
                name="password"
                type="password"
                class="form-item-input password-input"
                autocomplete="password"
              />
              <input
                v-else
                v-model="registration.password"
                name="password"
                type="password"
                class="form-item-input--incorrect password-input"
                autocomplete="password"
              />
            </div>
            <div v-if="errors.password != undefined" class="opt-form-item-info">
              {{ errors.password[0] }}
            </div>
          </div>
          <div class="opt-form-item">
            <label class="opt-form-item-label" for="passwordConfirm-input">
              Password confirmation*
            </label>
            <div class="form-item-input-container">
              <input
                v-if="!errors.password_confirm"
                id="passwordConfirm-input"
                v-model="registration.password_confirm"
                name="passwordConfirm"
                type="password"
                class="form-item-input password-input"
                autocomplete="passwordConfirm"
              />
              <input
                v-else
                v-model="registration.password_confirm"
                name="passwordConfirm"
                type="password"
                class="form-item-input--incorrect password-input"
                autocomplete="passwordConfirm"
              />
            </div>
            <div
              v-if="errors.password_confirm != undefined"
              class="opt-form-item-info"
            >
              {{ errors.password_confirm[0] }}
            </div>
          </div>
          <div class="opt-form-item">
            <label class="opt-form-item-label" for="firstname-input">
              First name
            </label>
            <div class="form-item-input-container">
              <input
                v-if="!errors.first_name"
                id="firstname-input"
                v-model="registration.first_name"
                name="firstname"
                type="text"
                class="form-item-input"
                autocomplete="off"
                autofocus
              />
              <input
                v-else
                v-model="registration.first_name"
                name="firstname"
                type="text"
                class="form-item-input--incorrect"
                autocomplete="off"
                autofocus
              />
            </div>
            <div
              v-if="errors.first_name != undefined"
              class="opt-form-item-info"
            >
              {{ errors.first_name[0] }}
            </div>
          </div>
          <div class="opt-form-item">
            <label class="opt-form-item-label" for="lastname-input">
              Last name
            </label>
            <div class="form-item-input-container">
              <input
                v-if="!errors.last_name"
                id="lastname-input"
                v-model="registration.last_name"
                name="name"
                type="text"
                class="form-item-input"
                autocomplete="off"
                autofocus
              />
              <input
                v-else
                v-model="registration.last_name"
                name="name"
                type="text"
                class="form-item-input--incorrect"
                autocomplete="off"
                autofocus
              />
            </div>
            <div
              v-if="errors.last_name != undefined"
              class="opt-form-item-info"
            >
              {{ errors.last_name[0] }}
            </div>
          </div>
          <div class="opt-form-item">
            <label class="opt-form-item-label" for="email-input">
              Email address
            </label>
            <div class="form-item-input-container">
              <input
                v-if="!errors.email"
                id="email-input"
                v-model="registration.email"
                name="email"
                type="text"
                class="form-item-input"
                autocomplete="email"
                autofocus
              />
              <input
                v-else
                v-model="registration.email"
                name="email"
                type="text"
                class="form-item-input--incorrect"
                autocomplete="email"
                autofocus
              />
            </div>
            <div v-if="errors.email != undefined" class="opt-form-item-info">
              {{ errors.email[0] }}
            </div>
          </div>
        </form>
        <div class="under-container">
          <v-btn
            class="opt-form-submit-btn"
            :ripple="false"
            elevation="0"
            @click="register"
          >
            Create an account
          </v-btn>
          <span class="operation-separator">OR</span>
          <v-btn
            class="opt-other-solution-btn"
            :ripple="false"
            elevation="0"
            to="/login"
          >
            Sign In
          </v-btn>
        </div>
      </div>
    </div>
    <v-dialog v-model="registerDialog" persistent max-width="450">
      <v-card>
        <v-card-title class="headline">Account created</v-card-title>
        <v-card-text>
          Congratulations, you just created a new account to start your
          adventure.
          <br />
          You can now sign in with your newly created credentials.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary darken-1" text to="/login"> Sign In </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  layout: 'empty',
  data() {
    return {
      registration: {
        username: '',
        first_name: '',
        last_name: '',
        email: '',
        password: '',
        password_confirm: '',
      },
      errors: false,
      registerDialog: false,
    }
  },
  mounted() {
    if (this.$auth.loggedIn) {
      this.$router.go(-1)
    }
  },
  methods: {
    register() {
      this.errors = false
      this.$axios
        .post('/api/registration/register/', this.registration)
        .then((res) => {
          this.registerDialog = true
        })
        .catch((err) => {
          if (err.response) {
            this.errors = err.response.data
          }
        })
    },
  },
}
</script>
<style scoped>
*::selection {
  background: #181c3f !important;
  color: #fff;
}

.main-container {
  margin: 70px auto 0 auto;
  width: 100%;
  padding: 0 40px;
  font-family: 'Gilroy', sans-serif;
  max-width: 516px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 254px;
  height: 95px;
  margin-bottom: 40px;
}

.page-title {
  text-transform: unset;
  margin-bottom: 35px;
  font-size: 30px;
}

.opt-form-item {
  display: inline-block;
  margin-bottom: 24px;
  inline-size: 100%;
  position: relative;
}

.opt-form-item-label {
  display: block;
  letter-spacing: 0.8px;
  color: #5e5e62;
  font-size: 14px;
  margin: 0 20px 8px;
}

.form-item-input-container {
  position: relative;
}

.form-item-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  background: #f4f4f4;
  border-radius: 20px;
  font-size: 14px;
  padding: 10px 20px;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  transition: 300ms border ease-in-out;
}

.form-item-input:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-item-input--incorrect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  background: #f4f4f4;
  border-radius: 20px;
  font-size: 14px;
  padding: 10px 20px;
  width: 100%;
  outline: none;
  transition: 300ms border ease-in-out;
  border: 1px solid #ed4e3b;
}

#password-input {
  padding-right: 80px;
}

.opt-form-item-info {
  color: #ed4e3b;
  right: 0;
  font-family: 'Gilroy', sans-serif;
  margin-right: 15px;
  font-size: 12px;
  position: absolute;
}

.opt-form-submit-btn {
  margin: 20px auto;
  font-family: 'Gilroy', sans-serif;
  background: #181c3f !important;
  color: #fff;
  text-transform: unset;
  width: 100%;
  height: 40px !important;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: transform 300ms ease-in-out;
}

.opt-form-submit-btn:active {
  transform: scale(0.95);
}

.opt-form-submit-btn::before {
  background-color: transparent !important;
}

.operation-separator {
  display: flex;
  height: 1px;
  justify-content: center;
  align-items: center;
  color: #454545;
}

.operation-separator::before {
  content: '';
  background: #e5e5e5;
  width: 90%;
  margin: 0 10px;
  height: 1px;
}

.operation-separator::after {
  content: '';
  background: #e5e5e5;
  width: 90%;
  margin: 0 10px;
  height: 1px;
}

.opt-other-solution-btn {
  background: transparent !important;
  margin: 20px auto;
  border: 2px solid #181c3f;
  height: 40px;
  border-radius: 20px;
  width: 100%;
  transition: background 300ms ease-in-out;
  color: #181c3f;
  text-transform: unset;
}

.opt-other-solution-btn::before {
  background-color: transparent !important;
}
</style>
