<template style="height: fit-content">
  <div>
    <v-container style="padding: 12px 12px 0 12px">
      <h1 class="header-title">Settings</h1>
    </v-container>
    <div class="separator"></div>
    <v-container style="padding: unset">
      <v-btn
        class="s-menu__item"
        :ripple="false"
        to="/localisation"
        elevation="0"
      >
        <v-icon class="s-menu__item-icon">mdi-map-marker</v-icon>
        <span>Your Geolocation</span>
      </v-btn>
      <v-btn
        v-if="this.$auth.loggedIn"
        class="s-menu__item"
        :ripple="false"
        elevation="0"
        to="/team"
      >
        <v-icon class="s-menu__item-icon">mdi-account-group</v-icon>
        <span>Team options</span>
      </v-btn>
      <v-btn
        class="s-menu__item"
        :ripple="false"
        elevation="0"
        @click="removeAllSave"
      >
        <v-icon class="s-menu__item-icon">mdi-delete</v-icon>
        <span>Delete local data</span>
      </v-btn>
      <div class="separator"></div>
      <h4 class="s-menu__under-section">Account management</h4>
      <div v-if="this.$auth.loggedIn">
        <v-btn
          class="s-menu__item"
          :ripple="false"
          elevation="0"
          @click="changeLogState"
        >
          <span style="color: #ed4e3b">Logout</span>
        </v-btn>
      </div>
      <div v-else>
        <v-btn class="s-menu__item" :ripple="false" elevation="0" to="/login">
          <span style="color: green">Sign in</span>
        </v-btn>
      </div>
    </v-container>
  </div>
</template>
<style scoped>
.header-title {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  height: 1px;
  width: 100%;
  background: #eee;
}

.s-menu__under-section {
  margin: 10px 0 0 0;
  padding: 0 10px 0 10px;
}

.s-menu__item {
  height: 100%;
  justify-content: left;
  padding: 10px 0 10px 10px !important;
  background: transparent !important;
  text-transform: unset;
  width: 100%;
}

.s-menu__item-icon {
  margin-right: 10px;
}
</style>
<script>
export default {
  methods: {
    changeLogState() {
      this.$opentour.sync().then(this.removeAllSave).catch(this.removeAllSave)
    },
    removeAllSave() {
      this.$store.commit('quest/removeAll')
      this.$auth.logout()
      this.$router.push('/')
    },
  },
}
</script>
